@font-face {
    font-family: 'DMSerif';
    src: url('assets/fonts/dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DMSerif', serif;
}

p {
    font-family: 'DMSerif', serif;
}

body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(2, 2, 15, 0.93);
    color:whitesmoke;
}
/* navigation */
nav{
    height: 60px;
    display:flex;
    background-color: black;
    color: whitesmoke;
    align-items: center;
}

nav > h1{
    font-size: 2em;
}
#menu-toggle{
    display: none;
}
#hamburger{
    display: none;
}
#mainNavbar {
    position: relative;
    background-color: #333;
    color: #fff;
}


  /* for sticky navbar function  */
  #mainNavbar.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}
  
  /* scroll % untuk triggers */


#navbrand{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
#navbrand > img{
    padding: 0px 10px;
    border-radius: 100%;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin:5px 10px;
    align-self:center ;
    text-decoration: none;
    list-style: none;
    transition-duration: 0.4px ease;
    cursor: pointer;
}

li:hover{
    border-bottom: orange 2px solid;
}

a{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
}
a:hover{
    color: orange;
}

#nav-link{
    display: flex;
    margin-left: auto;
}
/* header banner  */

header{
    display: flex;
    background-image:url(/assets/banneroption.jpg);
    background-blend-mode:darken;
    width: 100%;
    height: 800px;
    background-size:cover;
}
#banner{
    font-size: larger;
    width: 25%;
    margin-left: 30px;
    color: azure;
    text-shadow:2px 2px 4px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    animation: slideInX 1s ease-out;
    opacity: 0;
  }
  @keyframes slideInX {
    from {
      opacity: 0;
      transform: translateX(80%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


#banner a{
    width: fit-content;
    height: 25px;
    text-shadow:2px 2px 4px black;
    background-color: #000000;
    transition: ease-in-out 0.6s ;
}

#banner a:hover{
    background-position: 0 -100%;
    color:black;
    background-color: #dad7cd;
    translate:20px ;

}
#content-nav{
    display: flex;
    height: 30px;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
}

#content-nav ul{
    padding:0%;
    margin: 5px;
}
/* grid comunity-activity section */
#comunity-activity{
    background-color: #dad7cd;
    color: #000000;
    padding-bottom: 50px;
    padding-top: 20px;
}
/* image-carousel styling*/
/* Carousel container styles */
.carousel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 300px; /* Adjust the width to your liking */
    height: 296px;
    margin: 0 auto;
}

  /* Radio button styles (hidden) */
.carousel-radio {
    display: none;
}

  /* Image container styles */
.images {
display: flex;
transition: transform 0.5s ease-in-out;
}

.image {
    width: 100%;
    height: auto;
    display: none; /* Hide images by default */
}
.carousel-radio:checked + .image-label {
    background-color: #333;
}

  /* Style your labels for radio buttons */
.image-label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 5px;
}
.image-label:hover {
    background-color: orange;
}

  /* Display images when the corresponding radio button is checked */
#image1:checked ~ .images .image-1,
#image2:checked ~ .images .image-2,
#image3:checked ~ .images .image-3 {
    display: block;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,800px);
    grid-template-rows: 1fr;
    gap: 15px;
    align-items: center;
    justify-content:center;
    grid-auto-flow: dense;
}
.grid-container2{
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(3,500px);
    gap: 10px;
    grid-auto-flow: dense;
    justify-content: center;
    align-content: center;
}

.main-image{
    grid-column:2;
    grid-row: 1;
}

.main-event{
    display:flex;
    flex-direction: row;
    max-width: 500px;
    height: auto;
    gap: 10px;
    padding: 10px;
    box-shadow: 1px 8px 5px 0.5px rgba(0, 0, 0, 0.689);
    border-radius: 10px;
    background-color: white;
}
.main-event > img{
    width: 280px;
    height: 180px;
}
.main-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#card-content > button{
    background-color:green;
    color: aliceblue;
    font-size: larger;
    border: 2px solid black;
    border-radius:8px;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, orangered 50%, green 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}
#card-content > button:hover{
    background-position: 0 -100%;
    color: white;
    border:1px solid white;
}
#card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#card-content > button{
    width: 150px;
}

.container4 > p {
    padding:none;
}
.content-article{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container1{
    grid-column: 1;
}
.container2{
    grid-column: 2;
}
.container3{
    grid-column: 3;
}
#card-container1{
    display:flex;
    background-color: white;
    flex-direction: column-reverse;
    max-width: 500px;
    height: auto;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#card-container1 > p{
    padding-bottom: 4px;
    margin:0%;
    border-bottom: 0.1rem solid black;
}
#card-container1 > img{
    width: 100%;
    height: auto;
}

#card-container2 {
    display:flex;
    flex-direction: column-reverse;
    max-width: 500px;
    height: auto;
    gap: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#card-container2 > p{
    padding-bottom: 4px;
    margin:0%;
    border-bottom: 0.1rem solid black;
}
#card-container2 > img{
    width: 100%;
    height: auto;
}

#card-container3 {
    display:flex;
    flex-direction: column-reverse;
    max-width: 500px;
    height: auto;
    gap: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#card-container3 > p{
    padding-bottom: 4px;
    margin:0%;
    border-bottom: 0.1rem solid black;
}
#card-container3 > picture{
    width: 100%;
    height: auto;
}
picture > img{
    width: 100%;
    height: auto;
}

/* know more section */
#know-more{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    height: 60%;
    border-bottom: 1px grey solid;
}

#headerfact > p {
    width: fit-content;
    color: white;
    background-color: black;
}
/* buton go to wwf site */
#go-to{
    font-size: medium;
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
    border: 2px gray solid;
    border-style:ridge;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
/* hover animation #go-to button */
#go-to:hover{
    background-color:yellow;
    color: black;
}
/* button donation */
#donation{
    font-size: medium;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(255, 179, 0);
    border-radius: 10px;
    border: 2px yellow solid;
    border-style:ridge;
    transition-duration: 0,8s;
    cursor: pointer;
}
/* hover for #donation */
#donation:hover{
    background-color:yellowgreen;

}
/* koala section */
#koala{
    display: flex;
    padding-bottom: 25px;
}

#content-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin-left: 4%;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

#content-heading > img{
    width: 80%;
    height: auto;
}

#koala-article{
    width: 95%;
    justify-items:center;
    margin-top: 5%;
    padding-left: 20px;
    padding-right: 10px;
    border-left: 1px orangered solid;
    font-size: 20px;
}

b{
    color: orange;
}

i{
    color:yellow
}
/* habitat article */
#habitat{
    display: flex;
    color: black;
    background-color:#dad7cd;
    width: auto;
}

#habitat-article{
    width: 80%;
    justify-items:center;
    margin-left:15px;
    margin-top: 5%;
    padding-left:15px;
    padding-right: 15px;
    border-right: 1.5px orange solid;
    padding-bottom: 25px;
    font-size: 20px;
    font-family:sans-serif;
}

#video-embed{
    display: flex;
    width: 800px;
    height: 500px;
}

#habitat-heading{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    align-items: centers;
    text-align: center;
    margin-left: 3%;
    padding-right: 10px;
    padding-bottom: 25px;
}
/* join club article */
#join-club{
    text-align: center;
    height: 500px;
    font-size: 20px;
}
#description{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    text-align: left;
}
/* form */
#form-container {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

#form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#subscribe-form {
    display: flex;
    flex-direction: column;
}

#subscribe-form input[type="email"],
#subscribe-form input[type="text"],
#subscribe-form input[type="password"],
#subscribe-form input[type="checkbox"],
#subscribe-form select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.members-container{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    font-size: 15px;
}
#checkbox-container{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
}
#agree{
    width: 20px;
    height: 20px;
    margin: 10px;
    color: orange;
}

textarea#community-description {
    width: 90%;
    height: 50px; /* You can adjust the height as needed */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allows vertical resizing */
}

.location-container{
    margin-bottom: 20px;
}

.members-container{
    margin-bottom: 20px;
}
#subscribe-form button {
    padding: 10px;
    font-size: large;
    background-color: #333;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
#subscribe-form button:hover{
    color: orange;
    background-color: azure;
}
  #subscribe-form p {
    font-size: 0.8rem;
    text-align: left;
  }
  